
.trackContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    height: 500px;

    .heading {
        border-bottom: 2px solid white;
        padding: 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .trackList {
        display: flex;
        flex-direction: column;
        padding: 2rem
    }
}


